# Dependencies
frontend-reactjs/node_modules/

# Vite build output
frontend-reactjs/dist/
frontend-reactjs/.vite/
frontend-reactjs/public/*.wav
frontend-reactjs/public/*.TextGrid
frontend-reactjs/public/*.json

# Local env files
.env
.env.local
.env.*.local

# macOS
.DS_Store

# Editor
.vscode/
.idea/

# Logs
*.log
npm-debug.log*
